.about {
    padding: 60px 0px;
    background: url(../images/bg-snow.png),rgb(255, 70, 70);
}
.about__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding-left: 60px;
    max-width: 1276px;
    min-height: 528px;
}
.about__info {
    padding: 60px 0px;
    max-width: 426px;
    margin-right: 92px;
}
.about__slogan {
    color: rgb(255, 70, 70);
    font-family: Allura;
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 20px;
}
.about__heading {
    color: rgb(24, 28, 41);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 152%;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.about__subtitle {
    /* Paragraph */
    color: rgb(24, 28, 41);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 148%;
}
.about__bg {
    margin-right: -30px;
    padding-left: 60px;
}
.about__image {
    max-width: 638px;
    border-radius: 20px;
}