/* footer */
.footer {
    background: rgb(255, 255, 255);
    padding: 60px 0px;
}
.footer__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    margin-bottom: 60px;
}
.footer__card {
    max-width: 417.33px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
    border-radius: 20px;
    background: rgb(236, 243, 248);
}
.footer__pik {
    border: 1px dotted rgb(178, 185, 189);
}

.footer__link {
    color: rgb(24, 28, 41);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 152%;
    text-align: center;
    text-transform: uppercase;
}
.footer__text {
    color: rgb(24, 28, 41);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 152%;
    text-align: center;
    text-transform: uppercase;
}
.footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.footer__socials {
    display: flex;
    align-items: center;
    gap: 12px;
}
.footer__item {
    border: 1px dashed transparent;
}
.footer__item:hover {
    border: 1px dashed rgb(6, 164, 79);
    border-radius: 4px;
    background: rgba(6, 164, 79, 0.1);
}
.footer__item:first-child {
    padding: 8px;
}
.footer__copyright {
    color: rgb(24, 28, 41);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 148%;
    text-align: center;
}
.footer__developer {
    color: rgb(24, 28, 41);
    font-family: Allura;
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
    text-align: center;
}
.footer__developer:hover {
    color: rgb(255, 70, 70);
}