.gifts__bg {
    padding: 60px 0px;
    border-radius: 20px;
    background-color: rgb(255, 70, 70);
    min-width: 100%;
    background-image: url(../images/bg-garland.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
}
.gifts__collection {
    display: flex;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 600;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
    max-width: 383px;
    margin-bottom: 20px;
}
.gifts__garland {
    display: flex;
    justify-content: center;
    align-items: center;
}
.gifts__navigation {
    margin-bottom: 20px;
}
.gifts__navigation-item:first-child {
    background: var(--primary-10);
}
.gifts__list {
    display: flex;
    justify-content: center;
}
.gifts__item {
    border-radius: 12px;
    padding: 12px 20px;
    margin-right: 8px;
}
.gifts__item:hover {
    border-radius: 12px;
    padding: 12px 20px;
    background: var(--static-white-20);
}
.gifts__item:first-child {
    background: var(--static-white-20);
}
.gifts__item:last-child {
    margin-right: 0;
}
.gifts__link {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--static-white);
}

@media (max-width: 768px) {

}
@media (max-width: 380px) {
    .gifts__item {
        padding: 12px 8px;
        margin-right: 0px;
    }
    .gifts__item:hover {
        padding: 12px 8px;
    }
}