/* header */
.header {
    padding: 12px 0px;
    background: var(--static-white);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-link {
    border-radius: 12px;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.header__logo-text {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--dark);
}

.navigation__list {
    display: flex;
}
.navigation__item {
    border-radius: 12px;
    padding: 12px 20px;
    margin-right: 0.5rem;
}
.navigation__item:hover {
    background: var(--primary-10);
    color: var(--primary);
    border-radius: 12px;
    padding: 12px 20px;
    margin-right: 0.5rem;
}
.navigation__item:last-child {
    margin-right: 0;
}
.header__link {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--dark);
}

/* Мобильная версия */
@media (max-width: 768px) {
    
}


