@import 'gift.css';

html {
    position: relative;
    box-sizing: border-box;
  }

*,
*::before,
*::after {
  box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", serif;
    font-family: "Allura", cursive;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1500px;
    padding: 0 30px;
    margin: 0 auto;
}
/* header */
.header {
    background: rgb(255, 255, 255);
    padding-top: 12px;
    padding-bottom: 12px;
}
.header__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.header__logo-text {
    color: rgb(24, 28, 41);
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 130%;
    text-transform: uppercase;
}
.header__link {
    color: rgb(24, 28, 41);
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 130%;
    text-transform: uppercase;
    padding: 12px 20px;
    border-radius: 12px;
    margin-right: 8px;
}
.header__link:last-child {
    margin-right: 0;
}
.header__link:hover {
    background: rgba(255, 70, 70, 0.1);
    color: rgb(255, 70, 70);
}
/* hero */
.hero {
    padding: 60px 0px;
    border-radius: 20px 20px 0px 0px;
    min-width: 100%;
    min-height: auto;
    background: url(../images/bg-ball\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgb(255, 70, 70);
}
.hero__container {
    display: flex;
    justify-content: center;
}
.hero__content {
    max-width: 426px;
    padding: 60px 0px;
    display: flex;
    flex-direction: column;
}
.hero__text {
    color: rgb(255, 255, 255);
    font-family: Allura;
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 5%;
    text-align: center;
    margin-bottom: 12px;
}
.hero__title {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 18%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 32px;
}
.hero__button {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 5%;
    text-transform: uppercase;
    border-radius: 20px;
    background: rgb(24, 28, 41);
    padding: 20px 32px;
    margin-right: 95.5px;
    margin-left: 95.5px;
    cursor: pointer;
}
.hero__button:hover {
    background: rgb(255, 255, 255);
    color: rgb(24, 28, 41);
}
.hero__desc {
    color: rgb(255, 255, 255);
    font-family: Allura;
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 5%;
    text-align: center;
    margin-top: 32px;
}
/* about */
.about {
    background-color: rgb(255, 70, 70);
    padding: 60px 0px;
}
.about__container {
    border-radius: 20px;
    background-color: white;
    max-width: 1440px;
    display: flex;
    align-items: center;
    gap: 60px;
}
.about__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 60px 0px;
    margin-right: 227px;
    margin-left: 60px;

}
.about__slogan {
    color: rgb(255, 70, 70);
    font-family: Allura;
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 20px;
}
.about__heading {
    color: rgb(24, 28, 41);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 152%;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.about__subtitle {
    color: rgb(24, 28, 41);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 148%;
}
.about__image {
    border-radius: 20px;
    margin-bottom: -8px;
    margin-right: -30px;
}

/* slider */
.slider {
    background-color: rgb(255, 70, 70);
    padding: 60px 0px;
}
.slider__subtitle {
    color: rgb(255, 255, 255);
    font-family: Allura;
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 5%;
    text-align: center;
    margin-bottom: 12px;
}
.slider__title {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 152%;
    letter-spacing: 16%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.slider__content {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}
.slider__slogan {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 80px;
    font-weight: 600;
    line-height: 98px;
    text-align: center;
    text-transform: uppercase;
}
.slider__pik {
    border-radius: 20px;
}
.button__container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}
.button__box {
    max-width: 56px;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    padding: 16px;
}
.left {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.4);
}

/* gifts */
.gifts {
    background-color: rgb(255, 70, 70);
    padding: 60px 0px;
}
.gifts__subtitle {
    color: rgb(255, 255, 255);
    font-family: Allura;
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 5%;
    text-align: center;
    margin-bottom: 12px;
}
.gifts__title {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 152%;
    letter-spacing: 16%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.gifts__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}
.gift__card {
    max-width: 310px;
    border-radius: 20px;
    background-color: rgb(236, 243, 248);
}
.card__box {
    border: 1px dotted rgb(178, 185, 189);;
}
.card__info {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 20px;
}
.card__title {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 5%;
    text-transform: uppercase;
    margin-bottom: 8px;
}
.card__title {
    color: var(--header-color);
}
.card__subtitle {
    color: rgb(24, 28, 41);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 152%;
    text-transform: uppercase;
    margin: 0;
}


/* cta */
.cta {
    background-color: rgb(255, 70, 70);
    padding: 60px 0px;
    border-radius: 0px 0px 20px 20px;
}
.cta__container {
    padding: 60px 0px;
    display: flex;
    justify-content: center;
}
.cta__box {
    padding: 60px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 426px;
}
.cta__heading {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 152%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.cta__text {
    color: rgb(255, 255, 255);
    font-family: Allura;
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 8px;
}
.count {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px 12px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.4);
    max-width: 344px;
}
.days__number {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 152%;
    text-align: center;
    text-transform: uppercase;
}
.days__text {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;
}
.seporator::after {
    content: "";
    display: block;
    width: 1px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.4);
}

/* footer */
.footer {
    background: rgb(255, 255, 255);
    padding: 60px 0px;
}
.footer__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    margin-bottom: 60px;
}
.footer__card {
    max-width: 417.33px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
    border-radius: 20px;
    background: rgb(236, 243, 248);
}
.footer__pik {
    border: 1px dotted rgb(178, 185, 189);
}

.footer__link {
    color: rgb(24, 28, 41);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 152%;
    text-align: center;
    text-transform: uppercase;
}
.footer__text {
    color: rgb(24, 28, 41);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 152%;
    text-align: center;
    text-transform: uppercase;
}
.footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.footer__socials {
    display: flex;
    align-items: center;
    gap: 12px;
}
.footer__copyright {
    color: rgb(24, 28, 41);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 148%;
    text-align: center;
}
.footer__developer {
    color: rgb(24, 28, 41);
    font-family: Allura;
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
    text-align: center;
}