html {
    position: relative;
    box-sizing: border-box;
  }

*,
*::before,
*::after {
  box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", serif;
    font-family: "Allura", cursive;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1500px;
    padding: 0 30px;
    margin: 0 auto;
}

.header {
    background: rgb(255, 255, 255);
    padding-top: 12px;
    padding-bottom: 12px;
}
.header__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.header__logo-text {
    color: rgb(24, 28, 41);
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 130%;
    text-transform: uppercase;
}
.header__link {
    color: rgb(24, 28, 41);
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 130%;
    text-transform: uppercase;
    padding: 12px 20px;
    border-radius: 12px;
    margin-right: 8px;
}
.header__link:last-child {
    margin-right: 0;
}
.header__link:hover {
    background: rgba(255, 70, 70, 0.1);
    color: rgb(255, 70, 70);
}

.hero {
    padding: 60px 0px;
    border-radius: 20px 20px 0px 0px;
    min-width: 100%;
    min-height: auto;
    background: url(../images/bg-ball\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgb(255, 70, 70);
}
.hero__container {
    display: flex;
    justify-content: center;
}
.hero__content {
    max-width: 426px;
    padding: 60px 0px;
    display: flex;
    flex-direction: column;
}
.hero__text {
    color: rgb(255, 255, 255);
    font-family: Allura;
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 5%;
    text-align: center;
    margin-bottom: 12px;
}
.hero__title {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 18%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 32px;
}
.hero__button {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 5%;
    text-transform: uppercase;
    border-radius: 20px;
    background: rgb(24, 28, 41);
    padding: 20px 32px;
    margin-right: 95.5px;
    margin-left: 95.5px;
}
.hero__desc {
    color: rgb(255, 255, 255);
    font-family: Allura;
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 5%;
    text-align: center;
    margin-top: 32px;
}

.about {
    background-color: rgb(255, 70, 70);
    padding: 60px 0px;
}
.about__container {
    display: flex;
    justify-content: center;
}
.about__content {
    max-width: 638px;
    display: flex;
    align-items: center;
    border-radius: 20px 0px 0px 20px;
    background-color: white;
    padding-right: 60px;
    padding-left: 60px;
}
.about__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 60px 0px;
    margin-right: 152px;

}
.about__slogan {
    color: rgb(255, 70, 70);
    font-family: Allura;
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 20px;
}
.about__heading {
    color: rgb(24, 28, 41);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 152%;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.about__subtitle {
    color: rgb(24, 28, 41);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 148%;
}
/* .about__bg {
    max-width: 638px;
} */
.about__image {
    border-radius: 0px 20px 20px 0px ;
}